@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

input {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

form,
div,
input {
  box-sizing: border-box;
}

p {
  width: max-content;
}
